asgiref==3.5.0
backports.zoneinfo==0.2.1
dj-database-url==0.5.0
Django==1.11.29
django-heroku==0.3.1
#-e git://github.com/pavanv/django-tastypie@b4ffc642aa56d25d3c577ccae0a03c820b71c4bc#egg=django_tastypie
-e git+https://github.com/pavanv/django-tastypie#egg=django_tastypie
django-tastypie-swagger==0.1.4
gunicorn==20.1.0
psycopg2==2.9.3
psycopg2-binary==2.8.6
python-dateutil==2.8.2
python-mimeparse==1.6.0
pytz==2021.3
six==1.16.0
sqlparse==0.4.2
whitenoise==6.0.0
